doctype
html(ng-app='app' ng-controller='main')

  head
    block vars
        - path="./"
        - var activeNav="home"
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    title Лия Киневская
    base(href="test.com" target="_self")
    //base(href="http://pepelazz.github.io/RusCatSite/" target="_self")
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,500,400italic,700&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css')
    block styles
        link(href="#{path}index.css" rel="stylesheet")
        link(href="#{path}lib/normalize.css" rel="stylesheet")
  body
    .content
        .wrapper
            header
                .row1.col1
                  .position психолог
                  .phone
                      img(src='./images/icons/phone.svg').icon
                      span +7 909 932 4768
                  .email
                      img(src='./images/icons/mail.svg').icon
                      span icievolution.info@gmail.com

                .row1.col2
                    .phone
                        img(src='./images/icons/phone.svg').icon
                        span +7 909 932 4768
                    .email
                        img(src='./images/icons/mail.svg').icon
                        span icievolution.info@gmail.com
                .row2.col1.title
                    a(href='/')
                        span.fio Киневская Лия
                            span.mid-name Александровна
                .row2.col2.menu
                    ul
                        li
                            a(href='./about.html') обо мне
                        li
                            a(href='http://icievolution.com/library' target='_blank') статьи
                        li
                            a(href='./contacts.html') контакты
                .row3
                    .btn-request(ng-click='modal.isShown=true')
                        span Запись
                            span.consulting на консультацию
                .row4
                    .cite
                        span
                            |Я верю, что каждый человек достин того, чтобы узнать <b>кто он</b> на самом деле.
                            | В каждом человеке есть страх узнать правду и тот кто шагнет в этот страх совершит самую  важную победу
                            | в своей жизни.
                .cite-about-way
                    img(src='./images/cite-wrapper.svg')

                img(src='./images/kinevskaya.png').lya

            .main-area
              .nav
                ul
                    li ПРОБЛЕМЫ
                        ul
                            li(class = (activeNav == 'relationship') ? 'active' : '')
                                a(href='./relationship.html') Отношения
                            li(class = (activeNav == 'fears') ? 'active' : '')
                                a(href='./fears.html') Страхи
                            li(class = (activeNav == 'psychosomatics') ? 'active' : '')
                                a(href='./psychosomatics.html') Психосоматика
                            li(class = (activeNav == 'destination') ? 'active' : '')
                                a(href='./destination.html') Предназначение
                    li  РЕШЕНИЯ
                        ul
                            li(class = (activeNav == 'seminars') ? 'active' : '')
                                a(href='./seminars.html') Семинары
                            li(class = (activeNav == 'trainings') ? 'active' : '')
                                a(href='./trainings.html') Тренинги
                            li(class = (activeNav == 'psychoanalysis') ? 'active' : '')
                                a(href='./psychoanalysis.html') Индивидуальная работа



              block content
                  .first-page-choice
                      table
                        tr.video
                            td
                              .video-container(onclick="yaCounter27703206.reachGoal('video1')")
                                  iframe(width='1280', height='720', src='https://www.youtube.com/embed/SOJv4bUuO1M?showinfo=0', frameborder='0', allowfullscreen='allowfullscreen')

                            td: span Лекция<br> "Почему мы делаем то что не хотим, а то что хотим не делаем? (Часть 1)"
                        tr.video
                            td
                              .video-container(onclick="yaCounter27703206.reachGoal('video1')")
                                  iframe(width='1280', height='720', src='https://www.youtube.com/embed/f6XbFun2Xss?showinfo=0', frameborder='0', allowfullscreen='allowfullscreen')

                            td: span Лекция<br> "Почему мы делаем то что не хотим, а то что хотим не делаем? (Часть 2)"
                        tr
                            td: a(href='./problems.html'): img(src='./images/problem-map.jpg')
                            td: a(href='./problems.html'): span карта проблем
                        tr
                            td: a(href='./choice.html'): img(src='./images/solve-problem-choice.jpg')
                            td: a(href='./choice.html'): span выбор решений


    .footer
        .footer-grid
            .col.col1
                h4 Проблемы
                ul
                    li
                        a(href='./relationship.html') Отношения
                    li
                        a(href='./fears.html') Страхи
                    li
                        a(href='./psychosomatics.html') Психосоматика
                    li
                        a(href='./destination.html') Предназначение
            .col.col2
                h4 Решения
                ul
                    li
                        a(href='./seminars.html') Семинары
                    li
                        a(href='./trainings.html') Тренинги
                    li
                        a(href='./psychoanalysis.html') Индивидуальная работа
            .col.col3
                h4 Контакты
                .phone
                    img(src='./images/icons/phone.svg').icon
                    span +7 909 932 4768
                .email
                    img(src='./images/icons/mail.svg').icon
                    span icievolution.info@gmail.com
    #modal(ng-class='{show : modal.isShown}')
        .name
            //span.input-title Имя
            input(placeholder='Имя' ng-model='request.name')
        .phone
            //span.input-title Телефон
            input(placeholder='Телефон' ng-model='request.phone')
        //.btn(ng-click='getContent()') Получить
        .btn(ng-click='request.send()') Отправить
        .close(ng-click='modal.isShown=false') X



  |  <!-- Yandex.Metrika counter -->
  |  <script type="text/javascript">
  |  (function (d, w, c) {
  |  (w[c] = w[c] || []).push(function() {
  |  try {
  |  w.yaCounter27703206 = new Ya.Metrika({id:27703206,
  |  webvisor:true,
  |  clickmap:true,
  |  trackLinks:true,
  |  accurateTrackBounce:true});
  |      } catch(e) { }
  |      });
  |      var n = d.getElementsByTagName("script")[0],
  |          s = d.createElement("script"),
  |      f = function () { n.parentNode.insertBefore(s, n); };
  |  s.type = "text/javascript";
  |  s.async = true;
  |  s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
  |  if (w.opera == "[object Opera]") {
  |      d.addEventListener("DOMContentLoaded", f, false);
  |  } else { f(); }
  |  })(document, window, "yandex_metrika_callbacks");
  |  </script>
  |  <noscript><div><img src="//mc.yandex.ru/watch/27703206" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  |  <!-- /Yandex.Metrika counter -->

  block scripts
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
      script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js")
      script(src="#{path}lib/lodash.min.js")
      script(src="#{path}lib/snabbt.min.js")
      script(src="#{path}app.js")



